{% extends 'base.html' %}
{% load static %}

{% block title %}
    سایت میلاد رنجبر
{% endblock %}

{% block content %}


    <div class="foliox_tm_header">
        <div class="container">
            <div class="inner">
                <div class="logo">
                    <a class="anchor" href="#home"><img src="{% static 'img/logo/logo.png' %}" alt=""/></a>
                </div>
                <div class="details">
                    <div class="menu">
                        <ul class="anchor_nav">
                            <li class="current"><a href="#home">خانه</a></li>
                            <li><a href="#about">درباره من</a></li>
                            <li><a href="#service">خدمات</a></li>
                            <li><a href="#portfolio">نمونه کار ها</a></li>
                            <li><a href="#blog">وبلاگ</a></li>
                            <li><a href="#contact">ارتباط با من</a></li>
                        </ul>
                    </div>
                    <div class="social">
                        <ul>
                            <li><a href="{{ socialmedia.telegram }}"><i class="icon-telegram"></i></a></li>
                            <li><a href="{{ socialmedia.youtube }}"><i class="icon-youtube-play"></i></a></li>
                            <li><a href="{{ socialmedia.github }}"><i class="icon-github-circled-3"></i></a></li>
                            <li><a href="{{ socialmedia.instagram }}"><i class="icon-instagram-3"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="foliox_tm_section" id="home">
        <div class="foliox_tm_hero">
            <div class="container">
                <div class="content">
                    <div class="left">
                        <h3 class="name">{{ hero_sction.first_name }} <span>{{ hero_sction.last_name }}</span></h3>
                        <p class="job">{{ hero_sction.job_title }}</p>
                        <div class="foliox_tm_button">
                            <a class="anchor tm1" href="#contact"><span>{{ hero_sction.button_text }}</span></a>
                        </div>
                    </div>
                    <div class="right">
                        <img class="tilt-effect" src="{{ hero_sction.avatar.url }}" alt="{{ hero_sction.first_name }}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="foliox_tm_section">
        <div class="foliox_tm_features">
            <div class="container">
                <div class="list">
                    <ul>
                        {% for item in feature %}
                            <li class="wow fadeInUp" data-wow-duration="1s">
                                <div class="list_inner tilt-effect">
                                    {{ item.svg_code|safe }}

                                    <h3 class="title">
                                        {{ item.title }}
                                    </h3>

                                    <p class="text">
                                        {{ item.description }}
                                    </p>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="foliox_tm_section" id="about">
        <div class="foliox_tm_about">
            <div class="container">
                <div class="foliox_tm_main_title">
                    <span>درباره من</span>
                    <h3>
                        {{ aboutme.about_title }}
                    </h3>
                </div>
                <div class="wrapper">
                    <div class="left">
                        <div class="big_image">
                            <img class="tilt-effect" src="{{ aboutme.main_image.url }}" alt=""/>

                            <div class="small_image">
                                <div class="in">

                                    {% if aboutme.thumb_image.url %}
                                        <img src="{{ aboutme.thumb_image.url }}" alt="{{ aboutme.name }}"/>
                                    {% else %}
                                        <img src="#" alt="{{ aboutme.name }}"/>
                                    {% endif %}

                                    <div class="main tilt-effect" data-img-url="{{ aboutme.thumb_image.url }}"></div>
                                </div>
                            </div>

                            <span class="badge">
                                {% if aboutme.ribbon_image.url %}
                                    <img class="svg" src="{{ aboutme.ribbon_image.url }}" alt="{{ aboutme.name }}"/>
                                {% else %}
                                    <img class="svg" src="#" alt="{{ aboutme.name }}"/>
                                {% endif %}
                            </span>

                            <div class="experience">
                                <div class="inner">
                                    <h3>
                                        {{ aboutme.exprience_years }}
                                    </h3>
                                    <span>سال<br/>سابقه کار</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <h3 class="title">درباره من</h3>

                        <p class="text">
                            {{ aboutme.about_description }}
                        </p>

                        <div class="list">
                            <ul>
                                <li>
                                    <ul class="item">
                                        <li>
                                            <span>نام</span>
                                            <p>
                                                {{ aboutme.name }}
                                            </p>
                                        </li>
                                        <li>
                                            <span>ایمیل</span>
                                            <p>
                                                <a href="mailto:{{ aboutme.email }}">
                                                    <span class="__cf_email__"
                                                          data-cfemail="721a171e1e1d32141d1e1b1d0a5c111d1f">
                                                        {{ aboutme.email }}
                                                    </span>
                                                </a>

                                            </p>
                                        </li>
                                        <li>
                                            <span>شماره موبایل</span>
                                            <p class="tm2">
                                                <a href="tel:{{ aboutme.phone }}">{{ aboutme.phone }}</a>
                                            </p>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="item">
                                        <li>
                                            <span>آدرس</span>
                                            <p>
                                                {{ aboutme.address }}
                                            </p>
                                        </li>
                                        <li>
                                            <span>سطح</span>
                                            <p>
                                                {{ aboutme.position }}
                                            </p>
                                        </li>
                                        <li>
                                            <span>فریلنسر</span>
                                            <p>
                                                {{ aboutme.freelancer_status|yesno:'بله,خیر' }}
                                            </p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="foliox_tm_button">
                            {% if aboutme.cv_file.url == True %}
                                <a href="{{ aboutme.cv_file.url }}" download><span>دریافت CV</span></a>
                            {% else %}
                                <a href="#"><span>دریافت CV</span></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="foliox_tm_section">
        <div class="foliox_tm_counter">
            <div class="container">
                <div class="counter_list">
                    <ul>

                        {% for count in counter %}
                            <li>
                                <div class="list_inner tilt-effect">
                                    <h3>
                                        <span class="tm_counter" data-from="0" data-to="{{ count.value }}"
                                              data-speed="{{ count.speed }}">{{ count.suffix }}</span>
                                    </h3>
                                    <span class="title">{{ count.title }}</span>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="foliox_tm_section">
        <div class="foliox_tm_skills">
            <div class="container">
                <div class="foliox_tm_main_title">
                    <span>مهارت ها</span>
                    <h3>من سخت کار می کنم تا مهارت هایم را به طور منظم بهبود بخشم</h3>
                </div>
                <div class="list">
                    <div class="left">
                        <div class="dodo_progress wow fadeInUp" data-wow-duration="1s">
                            {% for skill_left in skills_left %}
                                <div class="progress_inner" data-value="{{ skill_left.percentage }}">
                                    <span>
                                        <span class="label">{{ skill_left.name }}</span><span
                                            class="number">{{ skill_left.percentage }}%</span>
                                    </span>
                                    <div class="background">
                                        <div class="bar">
                                            <div class="bar_in"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="right">
                        <div class="dodo_progress wow fadeInUp" data-wow-duration="1s">

                            {% for skill_right in skills_right %}
                                <div class="progress_inner" data-value="{{ skill_right.percentage }}">
                                    <span><span class="label">{{ skill_right.name }}</span><span
                                            class="number">{{ skill_right.percentage }} %</span></span>
                                    <div class="background">
                                        <div class="bar">
                                            <div class="bar_in"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="foliox_tm_section" id="service">
        <div class="foliox_tm_services">
            <div class="container">
                <div class="foliox_tm_main_title">
                    <span>خدمات</span>
                    <h3>کار هایی که می توانم انجام دهم</h3>
                </div>
                <div class="list">
                    <ul>
                        {% for service in services %}
                            <li class="wow fadeInUp" data-wow-duration="1s">
                                <div class="list_inner tilt-effect">

                                    <span class="icon">
                                    <span class="icon">
                                        {{ service.icon|safe }}
                                    </span>
                                    </span>
                                    <h3 class="title">{{ service.title }}</h3>
                                    <p class="text">
                                        {{ service.description }}
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="foliox_tm_section">
        <div class="foliox_tm_resume">
            <div class="container">
                <div class="foliox_tm_main_title">
                    <span>رزومه</span>
                    <h3>من برای چند شرکت بزرگ کار کردم</h3>
                </div>
                <div class="wrapper">

                    <div class="left">
                        <div class="title">
                            <h3>سابقه کار</h3>
                        </div>
                        <div class="resume_list">
                            <ul>
                                {% for work in worksexprince %}
                                    <li class="wow fadeInUp" data-wow-duration="1s">
                                        <div class="list_inner">
                                        <span class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="#000000"
                                                 viewBox="0 0 64 64" width="64px" height="64px"
                                                 class="svg replaced-svg"><path
                                                    d="M 26 6 C 23.81506 6 22 7.8150603 22 10 L 22 12 L 5 12 L 5 29 C 5 31.21 6.79 33 9 33 L 28 33 L 28 29 L 36 29 L 36 33 L 55 33 C 57.21 33 59 31.21 59 29 L 59 12 L 42 12 L 42 10 C 42 7.8150603 40.18494 6 38 6 L 26 6 z M 26 10 L 38 10 L 38 12 L 26 12 L 26 10 z M 30 31 L 30 37 L 34 37 L 34 31 L 30 31 z M 5 35 L 5 50 C 5 52.21 6.79 54 9 54 L 55 54 C 57.21 54 59 52.21 59 50 L 59 36 L 36 35.570312 L 36 39 L 28 39 L 28 35.429688 L 5 35 z"></path></svg></span>
                                            <div class="resume_title">
                                                <h3>{{ work.position }}<span>({{ work.start_year }} - {{ work.end_year }})</span>
                                                </h3>
                                                <span class="company">{{ work.company }}</span>
                                            </div>
                                            <p class="text">
                                                {{ work.description }}
                                            </p>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>


                    <div class="right">
                        <div class="title">
                            <h3>تحصیلات</h3>
                        </div>
                        <div class="resume_list">
                            <ul>
                                {% for education in educations %}
                                    <li class="wow fadeInUp" data-wow-duration="1s">
                                        <div class="list_inner">
                                            <span class="icon"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="791.803px" height="791.803px" viewBox="0 0 791.803 791.803" style="enable-background:new 0 0 791.803 791.803;" xml:space="preserve" class="svg replaced-svg">
                                            <g>
                                                <path d="M395.904,475.016l-236.203-72.7v71.524v49.896c0,56.133,105.787,101.644,236.274,101.644   c130.48,0,236.285-45.511,236.285-101.644c0-0.442-0.145-0.886-0.154-1.318V402.316L395.904,475.016z"></path>
                                                <path d="M0,318.734l84.383,30.185l7.191-15.401l31-2.635l4.42,4.599l-26.601,6.308l-3.877,11.475   c-0.007,0-60.087,125.604-51.263,187.05c0,0,37.502,22.37,74.988,0l9.962-168v-13.984l55.8-12.588l-3.941,9.705l-41.604,13.529   l19.242,6.874l236.203,72.7l236.201-72.7l159.699-57.116l-395.9-152.313L0,318.734z"></path>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            </svg></span></span>
                                            <div class="resume_title">
                                                <h3>{{ education.degree }}
                                                    <span>({{ education.start_year }} - {{ education.end_year }})</span>
                                                </h3>
                                                <span class="company">{{ education.univercity }}</span>
                                            </div>
                                            <p class="text">
                                                {{ education.description }}
                                            </p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="foliox_tm_section" id="portfolio">
        <div class="foliox_tm_portfolio">
            <div class="container">
                <div class="foliox_tm_main_title">
                    <span>نمونه کار ها</span>
                    <h3>تعدادی از کار هایی که انجام داده ام</h3>
                </div>
                <div class="portfolio_filter">
                    <ul>
                        <li><a href="#" class="current" data-filter="*">همه</a></li>

                        {% for category in categories %}
                            <li><a href="#" data-filter="{{ category }}">{{ category }}</a></li>
                        {% endfor %}

                    </ul>
                </div>
                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                    <ul class="gallery_zoom">

                        {% for item in items %}
                            <li class="{{ item.category }}">
                                <div class="list_inner tilt-effect">
                                    <div class="image">
                                        <img src="{{ item.image_thumbnail.url }}" alt=""/>
                                        <div class="main" data-img-url="{{ item.image_main.url }}"></div>
                                    </div>
                                    <div class="details">
                                        <h3>{{ item.title }}</h3>
                                        <span>{{ item.category }}</span>
                                    </div>
                                    <a class="foliox_tm_full_link" href="{{ item.link }}"></a>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="foliox_tm_section">
        <div class="foliox_tm_testimonials">
            <div class="container">
                <div class="foliox_tm_main_title">
                    <span>گواهینامه ها</span>
                    <h3>آنچه مشتریان می گویند</h3>
                </div>
                <div class="list_wrapper">
                    <div class="total">
                        <div class="in wow fadeInUp tm2" data-wow-duration="1s">
                            <ul class="owl-carousel owl-theme">
                                <li>
                                    <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
                                             x="0px" y="0px" width="200px" height="200px" viewBox="796 698 200 200"
                                             enable-background="new 796 698 200 200" xml:space="preserve"
                                             class="svg replaced-svg">
        <g>
            <path d="M885.208,749.739v-40.948C836.019,708.791,796,748.81,796,798v89.209h89.208V798h-48.26   C836.948,771.39,858.598,749.739,885.208,749.739z"></path>
            <path d="M996,749.739v-40.948c-49.19,0-89.209,40.019-89.209,89.209v89.209H996V798h-48.26   C947.74,771.39,969.39,749.739,996,749.739z"></path>
        </g>
        </svg>
                                    </div>
                                    <div class="text tm3">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
                                            که
                                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف
                                            بهبود
                                            ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته است.</p>
                                    </div>
                                    <div class="short tm3">
                                        <div class="image">
                                            <div class="main"
                                                 data-img-url="{% static 'img/testimonials/1.jpg' %}"></div>
                                        </div>
                                        <div class="detail">
                                            <h3>متین علیمی</h3>
                                            <span>گروه ABC</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
                                             x="0px" y="0px" width="200px" height="200px" viewBox="796 698 200 200"
                                             enable-background="new 796 698 200 200" xml:space="preserve"
                                             class="svg replaced-svg">
        <g>
            <path d="M885.208,749.739v-40.948C836.019,708.791,796,748.81,796,798v89.209h89.208V798h-48.26   C836.948,771.39,858.598,749.739,885.208,749.739z"></path>
            <path d="M996,749.739v-40.948c-49.19,0-89.209,40.019-89.209,89.209v89.209H996V798h-48.26   C947.74,771.39,969.39,749.739,996,749.739z"></path>
        </g>
        </svg>
                                    </div>
                                    <div class="text tm3">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
                                            که
                                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف
                                            بهبود
                                            ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته است.</p>
                                    </div>
                                    <div class="short tm3">
                                        <div class="image">
                                            <div class="main"
                                                 data-img-url="{% static 'img/testimonials/2.jpg' %}"></div>
                                        </div>
                                        <div class="detail">
                                            <h3>حسن آرامی</h3>
                                            <span>استودیو ویواکو</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
                                             x="0px" y="0px" width="200px" height="200px" viewBox="796 698 200 200"
                                             enable-background="new 796 698 200 200" xml:space="preserve"
                                             class="svg replaced-svg">
        <g>
            <path d="M885.208,749.739v-40.948C836.019,708.791,796,748.81,796,798v89.209h89.208V798h-48.26   C836.948,771.39,858.598,749.739,885.208,749.739z"></path>
            <path d="M996,749.739v-40.948c-49.19,0-89.209,40.019-89.209,89.209v89.209H996V798h-48.26   C947.74,771.39,969.39,749.739,996,749.739z"></path>
        </g>
        </svg>
                                    </div>
                                    <div class="text tm3">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
                                            که
                                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف
                                            بهبود
                                            ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته است.</p>
                                    </div>
                                    <div class="short tm3">
                                        <div class="image">
                                            <div class="main"
                                                 data-img-url="{% static 'img/testimonials/3.jpg' %}"></div>
                                        </div>
                                        <div class="detail">
                                            <h3>علی حسینی</h3>
                                            <span>طراح سایت</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="foliox_tm_section">
        <div class="foliox_tm_partners">
            <div class="container">
                <div class="partners_list tilt-effect wow fadeInUp tm2" data-wow-duration="1s">
                    <ul class="owl-carousel">
                        <li class="item">
                            <img src="{% static 'img/partners/1.png' %}" alt=""/>
                        </li>
                        <li class="item">
                            <img src="{% static 'img/partners/2.png' %}" alt=""/>
                        </li>
                        <li class="item">
                            <img src="{% static 'img/partners/3.png' %}" alt=""/>
                        </li>
                        <li class="item">
                            <img src="{% static 'img/partners/4.png' %}" alt=""/>
                        </li>
                        <li class="item">
                            <img src="{% static 'img/partners/5.png' %}" alt=""/>
                        </li>
                        <li class="item">
                            <img src="{% static 'img/partners/6.png' %}" alt=""/>
                        </li>
                        <li class="item">
                            <img src="{% static 'img/partners/7.png' %}" alt=""/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="foliox_tm_section" id="blog">
        <div class="foliox_tm_news">
            <div class="container">
                <div class="foliox_tm_main_title">
                    <span>وبلاگ</span>
                    <h3>آخرین پست های وبلاگ</h3>
                </div>
                <div class="news_list">
                    <ul>
                        <li class="wow fadeInUp" data-wow-duration="1s">
                            <div class="list_inner tilt-effect">
                                <div class="image">
                                    <img src="{% static 'img/thumbs/42-29.jpg' %}" alt=""/>
                                    <div class="main" data-img-url="{% static 'img/news/1.jpg' %}"></div>
                                    <a class="foliox_tm_full_link" href="#"></a>
                                </div>
                                <div class="details">
                                    <div class="meta">
                                        <p><a href="#">برندسازی</a> 15 فروردین 1401</p>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#">موضوع شماره یک</a></h3>
                                    </div>
                                </div>

                                <div class="news_hidden_details">
                                    <div class="news_popup_informations">
                                        <div class="text">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                استفاده از
                                                طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان
                                                که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                                                با
                                                هدف بهبود ابزارهای کاربردی می باشد.</p>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                استفاده از
                                                طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان
                                                که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                                                با
                                                هدف بهبود ابزارهای کاربردی می باشد.</p>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                استفاده از
                                                طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان
                                                که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                                                با
                                                هدف بهبود ابزارهای کاربردی می باشد.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                            <div class="list_inner tilt-effect">
                                <div class="image">
                                    <img src="{% static 'img/thumbs/42-29.jpg' %}" alt=""/>
                                    <div class="main" data-img-url="{% static 'img/news/2.jpg' %}"></div>
                                    <a class="foliox_tm_full_link" href="#"></a>
                                </div>
                                <div class="details">
                                    <div class="meta">
                                        <p><a href="#">هوش مصنوعی</a> 28 خرداد 1401</p>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#">موضوع شماره دو</a></h3>
                                    </div>
                                </div>

                                <div class="news_hidden_details">
                                    <div class="news_popup_informations">
                                        <div class="text">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                استفاده از
                                                طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان
                                                که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                                                با
                                                هدف بهبود ابزارهای کاربردی می باشد..</p>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                استفاده از
                                                طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان
                                                که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                                                با
                                                هدف بهبود ابزارهای کاربردی می باشد.</p>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                استفاده از
                                                طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان
                                                که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                                                با
                                                هدف بهبود ابزارهای کاربردی می باشد.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                            <div class="list_inner tilt-effect">
                                <div class="image">
                                    <img src="{% static 'img/thumbs/42-29.jpg' %}" alt=""/>
                                    <div class="main" data-img-url="{% static 'img/news/3.jpg' %}"></div>
                                    <a class="foliox_tm_full_link" href="#"></a>
                                </div>
                                <div class="details">
                                    <div class="meta">
                                        <p><a href="#">طراحی</a> 12 تیر 1401</p>
                                    </div>
                                    <div class="title">
                                        <h3><a href="#">موضوع شماره سه</a></h3>
                                    </div>
                                </div>

                                <div class="news_hidden_details">
                                    <div class="news_popup_informations">
                                        <div class="text">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                استفاده از
                                                طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان
                                                که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                                                با
                                                هدف بهبود ابزارهای کاربردی می باشد..</p>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                استفاده از
                                                طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان
                                                که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                                                با
                                                هدف بهبود ابزارهای کاربردی می باشد.</p>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                استفاده از
                                                طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان
                                                که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                                                با
                                                هدف بهبود ابزارهای کاربردی می باشد.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="foliox_tm_section" id="contact">
        <div class="foliox_tm_contact">
            <div class="container">
                <div class="foliox_tm_main_title">
                    <span>ارتباط با من</span>
                    <h3>دوست دارم نظرات شما را بشنوم</h3>
                </div>
                <div class="contact_inner">
                    <div class="left wow fadeInLeft" data-wow-duration="1s">
                        <ul>
                            <li>
                                <div class="list_inner">
                                    <div class="icon">
                                        <i class="icon-location"></i>
                                    </div>
                                    <div class="short">
                                        <h3>آدرس</h3>
                                        <span>ایران، تهران</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_inner">
                                    <div class="icon">
                                        <i class="icon-mail-1"></i>
                                    </div>
                                    <div class="short">
                                        <h3>ایمیل</h3>
                                        <span><a href="#"><span class="__cf_email__"
                                                                data-cfemail="066e636a6a6946626962692865696b">aaaaaaaa@Gmail.com</span></a></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_inner">
                                    <div class="icon tm4">
                                        <i class="icon-phone"></i>
                                    </div>
                                    <div class="short tm2">
                                        <h3 class="tm3">تلفن</h3>
                                        <span>+98 900 000 0000</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="right wow fadeInRight" data-wow-duration="1s">
                        <div class="fields">
                            <form action="https://marketifythemes.net/" method="post" class="contact_form"
                                  id="contact_form" autocomplete="off">
                                <div class="returnmessage"
                                     data-success="Your message has been received, We will contact you soon."></div>
                                <div class="empty_notice"><span>لطفا فیلدهای مورد نیاز را پر کنید</span></div>
                                <div class="input_list">
                                    <ul>
                                        <li><input id="name" type="text" placeholder="نام"/></li>
                                        <li><input id="email" type="text" placeholder="ایمیل"/></li>
                                        <li><input id="phone" type="number" placeholder="تلفن"/></li>
                                        <li><input id="subject" type="text" placeholder="موضوع"/></li>
                                    </ul>
                                </div>
                                <div class="message_area">
                                    <textarea id="message" placeholder="متن پیام"></textarea>
                                </div>
                                <div class="foliox_tm_button">
                                    <a id="send_message" href="#"><span>ارسال</span></a>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="foliox_tm_section">
        <div class="foliox_tm_subscribe">
            <div class="container">
                <div class="inner tilt-effect">
                    <div class="left wow fadeInLeft" data-wow-duration="1s">
                        <span class="subtitle">اکنون مشترک شوید</span>
                        <h3 class="title">دریافت خبرنامه من</h3>
                        <p class="text">آخرین اخبار، نکات و ترفندها را در صندوق ورودی ایمیل خود دریافت کنید</p>
                    </div>
                    <div class="right wow fadeInRight" data-wow-duration="1s">
                        <div class="field">
                            <input type="text" placeholder="آدرس ایمیل شما">
                            <input type="submit" value="ارسال"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="foliox_tm_section">
        <div class="foliox_tm_copyright">
            <div class="container">
                <p class="wow fadeInUp" data-wow-duration="1s"> وب سایت طراحی شده توسط <a
                        href="https://github.com/cymilad" target="_blank">میلاد رنجبر</a>
                </p>
            </div>
        </div>
    </div>


    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

    <div class="progressbar">
        <a href="#"><span class="text">بالا</span></a>
        <span class="line"></span>
    </div>


{% endblock %}