{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

{% include 'header.html' %}
<title>
    {% block title %}{% endblock %}
</title>

<body>

<div id="preloader">
    <div class="loader_line"></div>
</div>

<div class="foliox_tm_all_wrap" data-magic-cursor="show">
    {% block content %}

    {% endblock %}
</div>

{% include 'footer.html' %}

</body>
</html>